### Python Basics

In [12]:
4%2

0

In [13]:
4 /2 , 4 // 2

(2.0, 2)

In [14]:
5 // 2

2

In [15]:
6 // 2

3

In [16]:
6 + 3 , 6 - 3, 6 * 3

(9, 3, 18)

In [17]:
5 // 2 ## will ignore the reminder

2

In [18]:
## BODMAS - Bracket, off, Division, Mult, Add , Sub

5 + 3 * 2

11

In [19]:
(5 + 5) / 10 * 5 + 1 - 2

4.0

In [20]:
a = 1 , b = 2.1 , c = 's', d = a + b

SyntaxError: cannot assign to literal (<ipython-input-20-a2dc265e590b>, line 1)

In [1]:
a = 1

In [2]:
a

1

In [4]:
b = 2.1

In [5]:
a , b

(1, 2.1)

In [6]:
c = 'Jesus'

In [8]:
type(a) ,type(c)

(int, str)

In [9]:
True

True

In [10]:
False

False

In [11]:
True or False

True

In [12]:
True and False

False

In [13]:
True and True

True

In [14]:
type(False)

bool

In [15]:
True | False

True

In [17]:
a =10 
b = 20 

a + b > 30

False

In [18]:
a =10 
b = 20
a + b > 30 | a - b < 10

True

In [19]:
a - b < 10

True

In [20]:
a =10 
b = 20
a + b > 30 | b - a < 10

False

In [21]:
type('Krish')

str

In [22]:
che = 'Hello  '

#### TYpe casting

In [23]:
a = str('11')
a

'11'

In [24]:
b = int(a)
b

11

In [25]:
s1 = ' john'
s2 = "mathew"
s1 + s2

' johnmathew'

In [26]:
s1+" "+s2

' john mathew'

In [28]:
name = input('enter your name: ')
print(name)

enter your name: hello
hello

In [1]:
# Add two numbers
a = input('Salary : ')
b = input('your investment : ')
sal = int(a)
invest = int(b)
save_tax = invest * (80/100)
tax = (sal * (30/100)) - save_tax 
in_hand = sal - tax
print('Your tax savings : Rs', save_tax)
print('Your total tax to pay : Rs', tax)
print('Your inhand salary : Rs', in_hand)

Salary : 1400000
your investment : 66000
Your tax savings : Rs 52800.0
Your total tax to pay : Rs 367200.0
Your inhand salary : Rs 1032800.0

In [2]:
fname = input(' First Name: ')
sname = input(' Sec Name: ')
print('My First name ' + fname +" " 'sec name is ' +sname)

 First Name: Mathew Davis
 Sec Name: John
My First name Mathew Davis sec name is John

### Place holder

In [3]:
print('Your first name is {} and last name is {}'.format(fname,sname))

Your first name is Mathew Davis and last name is John

In [4]:
print('first name is {first},  and sec name is {second}'.format(second=sname, first=fname))

first name is Mathew Davis,  and sec name is John

### Varible Dynamic Typing

#### the variable data type is dynamically assinged by python

In [1]:
a = 10
b = 10.0
c = 'Ten'
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

In [3]:
type(a)

int

In [4]:
type(b)

float

In [5]:
type(c)

str

#### strong typing

##### the int , float variable should be turned to string before concatenation

In [7]:
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
str(a) + c

'10Ten'

### if , elif

In [17]:
a = int(input('first number : '))
b = int(input('sec number : '))
c = a -b 
if c > 0:
    print('first number is larger')
    if c % 10 == 0:
        print('multiple of 10')
elif c == 0:
    print('both nos are equal')
else:
    print('sec number is the largest')

first number : 21
sec number : 2
first number is larger

### Data Structures
1. list
2. tuple
3. string
4. dictionary
5. sets

In [18]:
list1 = [1, 2, 3, 'ok', 'jan', 'feb']

In [19]:
list1

[1, 2, 3, 'ok', 'jan', 'feb']

In [20]:
list1[3]

'ok'

In [23]:
list1[3:]

['ok', 'jan', 'feb']

In [24]:
type(list1[0])

int

In [25]:
type(list1[3])

str

In [26]:
list1.append('march')

In [27]:
list1

[1, 2, 3, 'ok', 'jan', 'feb', 'march']

In [28]:
list1.append(8)

In [29]:
list1

[1, 2, 3, 'ok', 'jan', 'feb', 'march', 8]

In [30]:
list1[3] = 'Shari'

In [31]:
list1

[1, 2, 3, 'Shari', 'jan', 'feb', 'march', 8]

In [32]:
list1[3] = 'ever breath'

In [33]:
list1

[1, 2, 3, 'ever breath', 'jan', 'feb', 'march', 8]

In [35]:
list1.append(1)
list1.append(1)
list1.append(1)
list1.append(1)

In [36]:
list1

[1, 2, 3, 'ever breath', 'jan', 'feb', 'march', 8, 1, 1, 1, 1]

In [37]:
list1.count(1)

5

In [38]:
list1.count(2)

1

In [39]:
list1.count('j')

0

In [40]:
str1 = 'Hello'

In [41]:
str1[0]

'H'

In [42]:
str1[0] = 'A'

TypeError: 'str' object does not support item assignment

### immutability is there for values in int, float, str, bool, tuple, unicode
so the values which are present can not be modified , it should be re-assigned

In [43]:
i = int(123)

In [44]:
i[1]

TypeError: 'int' object is not subscriptable

In [45]:
s = 'abcd'

In [46]:
s[1]

'b'

In [47]:
s[1] = 'B'

TypeError: 'str' object does not support item assignment

In [48]:
s = 'ABCD'

In [49]:
s

'ABCD'